.character-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.character-detail__container {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); 
  border-radius: 15px; 
  width: 90%;
  max-width: 600px;
  padding: 20px;
  animation: fadeIn 0.5s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-detail__image {
  width: 200px;
  height: auto;
  border-radius: 50%; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
}

.character-detail__image:hover {
  transform: scale(1.1); 
}

.character-detail__name {
  margin-top: 20px;
  font-size: 24px;
  color: #007BFF; 
  font-weight: 600; 
  transition: color 0.3s ease;
}

.character-detail__name:hover {
  color: #0056b3; 
}

.details-container {
  text-align: center; 
  margin: 10px;
}

.detail-label {
  font-weight: bold;
  color: #333;
}

.detail-value {
  margin-left: 5px;
  color: #666;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: hsl(193, 100%, 57%); 
  color: #fff;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold; 
  letter-spacing: 1px;
}

.back-button:hover {
  background-color: hsl(166, 80%, 51%); 
  transform: scale(1.05); 
}
