.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  color: #ffffff;
  margin: 10px;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  text-align: center; 
}

.logo {
  width: 40vh; 
  height: auto; 
}
